.empty-view-container {
  height: 100%;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  font-size: 25px;
  color: #b3b3b3;
}

.empty-view-container .arrow-container {
  position: absolute;
  right: 12px;
  animation: arrow-fade-in 1s, arrow-pop infinite 1s ease-in-out;
}

.empty-view-container .arrow-container svg {
  height: 40px;
  width: 40px;
}

@keyframes arrow-fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes arrow-pop {
  0% { top: 5px; }
  50% { top: 30px; }
  100% { top: 5px; }
}
